#div-0 { padding: 20px; }

#div-1 { padding: 50px; }

div {
  /* other styling */
  background-color: #ff7a59;
  border-radius: 10px;
  color: #2D3E50;
  font-family: 'Avenir';
	font-weight: bold;
  margin: 20px;
  display: inline-block;
  text-align: center;
    cursor: url('emoji.cur'), pointer;            
 }
  
}
body {background-color:white;}

p {
    color: rgb(56, 47, 44);
    width: 1000px;
    text-align: left;
}
  