#div-0 { padding: 20px; }

#div-1 { padding: 50px; }
* {
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
    
  }
  
div {
  background-color: #f1896f;
  border-radius: 10px;
  color: #3c1414;
  font-family: 'Avenir';
	font-weight: bold;
  margin: 20px;
  display: inline-block;
  text-align: center;
    cursor: url('emoji.cur'), pointer;            
 }
  
body {background-color:burlywood;}

p {
    color: #3c1414;
    width: 1000px;
    text-align: left;
}
  